* {
  box-sizing: border-box;
}

// Reset
h1,h2,h3,h4,h5,h6,div,p,ul,li,ol,dd{margin: 0px; padding:0px}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: $roboto-font;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 65rem;
}
